@import "./abstracts/variables";
@import "~bootstrap/scss/bootstrap";

//variables scss
$transist: 0.25s;
$text-color: white;
$border-setup: solid rgb(78, 78, 78); 

@mixin border {
    border: 1px $border-setup;
}

html {
    scroll-behavior: smooth;
}

body {
    background-attachment: fixed;
    background-color: #171d20;
    font-family: 'Montserrat', sans-serif;
    
    a {
        color: $text-color !important;
    }
    .navbar {
        border-bottom: 1px $border-setup;
        
        @media screen and (max-width: 992px) {
            .nav-item:hover:not(#start-project-button) {
                transition: $transist linear;
                border-right: 1.5px solid white;
                border-left: 1.5px solid white;
                
            }
        }
        
    }
    
    main {
        background-color: rgb(52, 65, 71, 0.5);
        @include border;
        
        #social_column {
            .nav-item {
                border-radius: 5px !important;              
            }
            
            .nav-item:hover {
                transition: $transist;
                background-color: white;
                .bi-github {
                    color: #000;
                }
                .bi-telegram {
                    color: #0088cc;
                }
                .bi-envelope-fill {
                    color: #fec685;
                }
                .bi-linkedin {
                    color: #0077B5;
                }
            }
            
        }
    }
}