.row > #reg_block {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

header {
    background-color: #712cf9;
}

.modal-content {
    border-radius: 0px;
    background: #CBC3E3;
}

.modal-header {
    background: #6f42c1;
}

